<section id="about" class="about section">
  <div class="container">
    <div class="about__wrapper">
      <h2 class="about__title section-title">О компании</h2>
      <div class="about__body">
        <img src="assets/images/about-bg.png" alt="img" class="about__img" />
        <div class="about__text about__text--top-left">
          <p>
            Компания ООО «ДАР» с 2017 года оказывает профессиональные услуги по
            фумигации грузов, логистике и таможенному сопровождению. Мы работаем
            в зоне таможенного контроля Санкт-Петербурга и обеспечиваем
            безопасность ваших товаров в соответствии с требованиями санитарных
            и таможенных служб.
          </p>
          <p>
            Наша команда состоит из экспертов с многолетним опытом в области
            дезинфекции, транспортировки и оформления грузов. Мы используем
            только современные технологии и сертифицированные средства, что
            гарантирует высокую эффективность и безопасность обработки.
          </p>
          <p>
            Мы берём на себя все задачи, связанные с хранением, перевозкой и
            оформлением товаров, позволяя нашим клиентам сосредоточиться на
            бизнесе. Благодаря комплексному подходу мы сопровождаем груз на
            каждом этапе — от обработки и перегрузки до оформления всей
            необходимой документации.
          </p>
        </div>
        <img
          src="assets/images/about-bg-mobil.png"
          alt="img"
          class="about__img--mobil"
        />
        <div class="about__text about__text--bottom-right">
          <p>
            Сегодня ООО «ДАР» — это надёжный партнёр для компаний, работающих с
            импортом и экспортом сельскохозяйственной продукции, древесины,
            упаковочных материалов и других товаров, подверженных риску
            заражения.
          </p>
          <p>
            С нами ваши грузы проходят обработку и таможенные процедуры без
            задержек и лишних расходов. Мы превращаем сложный процесс в понятный
            и удобный сервис, чтобы вы могли сосредоточиться на развитии
            бизнеса.
          </p>
          <p class="about__text--green">
            ООО «ДАР» — ваш гарант безопасности, скорости и спокойствия.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
