<header class="header">
  <div class="header__logo">
    <img src="assets/images/logo.svg" alt="logo" />
  </div>
  <nav class="header__nav">
    <ul class="header__list">
      <li>
        <a href="#services">Услуги</a>
      </li>
      <li>
        <a href="#about">О компании</a>
      </li>
      <li>
        <a href="#why-us">Преимущества</a>
      </li>
      <li>
        <a href="#steps">Этапы работы</a>
      </li>
      <li>
        <a href="#our-results">Кейсы</a>
      </li>
      <li>
        <a href="#reviews">Отзывы</a>
      </li>
      <li>
        <a href="#footer">Контакты</a>
      </li>
    </ul>
    <div class="header__bottom">
      <a href="mailto:Info@fumigation-dar.ru" class="header__bottom-mail"
        >Info@fumigation-dar.ru</a
      >
      <a href="tel:+79210012600" class="header__bottom-tel"
        >+7 (921) 001-26-00</a
      >
    </div>
  </nav>
  <div class="header-burger-menu__overlay"></div>
  <div class="header-burger-menu">
    <button class="header-burger-menu__burger-btn">
      <svg
        width="22"
        height="12"
        viewBox="0 0 22 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3 0.717391C3 0.321187 3.32119 0 3.71739 0H22V1.43478H3.71739C3.32119 1.43478 3 1.1136 3 0.717391Z"
          fill="white"
        />
        <path
          d="M0 5.715C0 5.32012 0.320116 5 0.715 5H22V6.43H0.715001C0.320117 6.43 0 6.10988 0 5.715Z"
          fill="white"
        />
        <path
          d="M7 10.715C7 10.3201 7.32012 10 7.715 10H22V11.43H7.715C7.32012 11.43 7 11.1099 7 10.715Z"
          fill="white"
        />
      </svg>
    </button>
    <div class="header-burger-menu__menu">
      <button class="header-burger-menu__btn-close">
        <svg
          width="14"
          height="14"
          viewBox="0 0 14 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.5097 13.5096C14.1634 12.8559 14.1634 11.7961 13.5097 11.1424L9.36725 7.00002L13.5097 2.85757C14.1634 2.2039 14.1634 1.14409 13.5097 0.490418C12.8561 -0.163252 11.7962 -0.163252 11.1426 0.490418L7.00008 4.63287L2.85743 0.490253C2.20375 -0.163418 1.14393 -0.163418 0.490258 0.490253C-0.163419 1.14392 -0.163419 2.20373 0.490257 2.8574L4.63291 7.00002L0.490305 11.1426C-0.163371 11.7963 -0.163372 12.8561 0.490305 13.5097C1.14398 14.1634 2.2038 14.1634 2.85748 13.5097L7.00008 9.36717L11.1425 13.5096C11.7962 14.1632 12.856 14.1632 13.5097 13.5096Z"
            fill="black"
          />
        </svg>
      </button>
      <ul class="header-burger-menu__list">
        <li>
          <a href="#services">Услуги</a>
        </li>
        <li>
          <a href="#about">О компании</a>
        </li>
        <li>
          <a href="#why-us">Преимущества</a>
        </li>
        <li>
          <a href="#steps">Этапы работы</a>
        </li>
        <li>
          <a href="#our-results">Кейсы</a>
        </li>
        <li>
          <a href="#reviews">Отзывы</a>
        </li>
        <li>
          <a href="#footer">Контакты</a>
        </li>
      </ul>
    </div>
  </div>
</header>
