<section class="hero section">
  <img
    src="assets/images/spot.png"
    alt=""
    class="hero__spot hero__spot-top-right"
  />
  <img
    src="assets/images/spot.png"
    alt=""
    class="hero__spot hero__spot-bottom-left"
  />
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__body">
        @@include('../components/header.html')
        <div class="hero__info">
          <div class="hero__text-main">
            <h1>Фумигация, логистика и таможенные услуги в Санкт-Петербурге</h1>
            <p class="hero__text-main-desc">
              Мы защищаем ваш груз от вредителей и задержек
            </p>
            <p class="hero__text-main-mobil">
              Мы берём на себя обработку, оформление и таможню

              <span
                ><br />
                — вы экономите время и избегаете задержек</span
              >
            </p>
          </div>
          @@include('hero-sidebar.html')
        </div>

        <div class="hero__text-bottom">
          <h2>
            ООО «ДАР» — ваш надежный партнёр в сфере обеззараживания и обработки
            грузов.
          </h2>
          <p>
            Мы избавим вас от хлопот: обработаем груз, подготовим документы и
            обеспечим быстрое прохождение таможни. С нами ваши поставки всегда в
            срок и в безопасности.
          </p>
        </div>
      </div>
      @@include('../components/hero-sidebar.html')
    </div>

    <!-- <div>
      @@include('../components/header.html')
      @@include('../components/hero-sidebar.html')
    </div> -->
  </div>
</section>
