<div class="hero-sidebar hero__sidebar">
  <div class="hero-sidebar__grid">
    <div class="hero-sidebar__top-item hero-sidebar__grid-item-1">
      <h4>2017</h4>
      <p>Год основания компании</p>
    </div>
    <div class="hero-sidebar__top-item hero-sidebar__grid-item-2">
      <h4>5 000+</h4>
      <p>Обработанных грузов</p>
    </div>
    <button class="hero-sidebar__btn hero-sidebar__grid-item-3 button">
      <div class="button__wrapper">
        <p>Заказать услугу</p>
        <span>
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.50269 16.5027L16.5045 1.50448M16.5045 1.50448L4.50448 1.50304M16.5045 1.50448L16.503 13.5045"
              stroke="#33CC33"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
      </div>
    </button>
    <div class="hero-sidebar-item hero-sidebar__grid-item-4">
      <div class="hero-sidebar-item__header">
        <img src="assets/images/icons/hero/img1.svg" alt="icon" />
        <h4>Фумигация грузов</h4>
      </div>
      <p>
        Проведение профессиональной обработки транспортных средств, товаров,
        грузов различного типа и объема с использованием эффективных химических
        средств, соответствующие стандартам безопасности.
      </p>
    </div>
    <div class="hero-sidebar-item hero-sidebar__grid-item-5">
      <div class="hero-sidebar-item__header">
        <img src="assets/images/icons/hero/img2.svg" alt="icon" />
        <h4>Логистика</h4>
      </div>
      <p>
        Организация перевозки и хранения грузов различного объёма с оптимизацией
        маршрутов, сокращением сроков и затрат. Все этапы транспортировки
        проходят с учётом современных требований безопасности и удобства
        клиента.
      </p>
    </div>
    <div class="hero-sidebar-item hero-sidebar__grid-item-6">
      <div class="hero-sidebar-item__header">
        <img src="assets/images/icons/hero/img3.svg" alt="icon" />
        <h4>Таможенные услуги</h4>
      </div>
      <p>
        Подготовка и оформление документов для прохождения контроля,
        консультации и сопровождение на каждом этапе. Обеспечиваем быстрое и
        законное прохождение таможенных процедур с минимальными рисками
        задержек.
      </p>
    </div>
  </div>
</div>
