<div class="popup-details">
  <div class="popup-details__menu">
    <button class="popup-details__btn-close">
      <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M13.5097 13.5096C14.1634 12.8559 14.1634 11.7961 13.5097 11.1424L9.36725 7.00002L13.5097 2.85757C14.1634 2.2039 14.1634 1.14409 13.5097 0.490418C12.8561 -0.163252 11.7962 -0.163252 11.1426 0.490418L7.00008 4.63287L2.85743 0.490253C2.20375 -0.163418 1.14393 -0.163418 0.490258 0.490253C-0.163419 1.14392 -0.163419 2.20373 0.490257 2.8574L4.63291 7.00002L0.490305 11.1426C-0.163371 11.7963 -0.163372 12.8561 0.490305 13.5097C1.14398 14.1634 2.2038 14.1634 2.85748 13.5097L7.00008 9.36717L11.1425 13.5096C11.7962 14.1632 12.856 14.1632 13.5097 13.5096Z"
          fill="black"
        />
      </svg>
    </button>
    <div class="popup-details__text-box">
      <h5 class="popup-details__title">Название организации:</h5>
      <p class="popup-details__text">
        Общество с ограниченной ответственностью «ДАР»
      </p>
    </div>
    <div class="popup-details__text-box">
      <h5 class="popup-details__title">Юридический адрес организации:</h5>
      <p class="popup-details__text">
        195027, г. Санкт-Петербург, ул. Магнитогорская, дом 30, литер А,
        помещение 9-Н
      </p>
      <p class="popup-details__text">ИНН: 7813281456</p>
      <p class="popup-details__text">КПП: 780601001</p>
      <p class="popup-details__text">ОГРН: 1177847213323</p>
    </div>
    <div class="popup-details__text-box">
      <h5 class="popup-details__title">Расчетный счет:</h5>

      <p class="popup-details__text">40702810728260000869</p>
      <p class="popup-details__text">
        Банк: ФИЛИАЛ "ЦЕНТРАЛЬНЫЙ" БАНКА ВТБ (ПАО)
      </p>
      <p class="popup-details__text">
        Корреспондентский счет: 30101810145250000411
      </p>
      <p class="popup-details__text">БИК: 044525411</p>
      <p class="popup-details__text">ОКПО: 16039903</p>
      <p class="popup-details__text">ОКВЭД: 82.99</p>
    </div>
    <div class="popup-details__text-box">
      <h5 class="popup-details__title">Телефон:</h5>
      <a href="tel:+79210012600" class="popup-details__link"
        >+7 (921) 001-26-00</a
      >
    </div>
    <div class="popup-details__text-box">
      <h5 class="popup-details__title">Электронная почта:</h5>
      <a
        href="mailto:Info@fumigation-dar.ru"
        class="popup-details__link popup-details__link--mail"
        >Info@fumigation-dar.ru</a
      >
    </div>
  </div>
</div>
