<div class="popup">
  <div class="popup__wrapper">
    <form class="popup-form">
      <p class="popup-form__title">
        Получите консультацию специалиста бесплатно
      </p>
      <p class="popup-form__subtitle">
        Остались вопросы? <br />
        Оставьте заявку и мы поможем вам
      </p>
      <div class="popup-form__inputs">
        <label for="#" class="popup-form__label">
          <img
            src="assets/images/icons/person-form.svg"
            class="popup-form__icon"
            alt="person"
          />
          <input
            type="text"
            class="popup-form__input"
            name="name"
            placeholder="Ваше имя"
          />
        </label>
        <label for="#" class="popup-form__label">
          <img
            src="assets/images/icons/phone-form.svg"
            class="popup-form__icon"
            alt="phone"
          />
          <input
            type="text"
            class="popup-form__input"
            name="phone"
            placeholder="Телефон"
          />
        </label>
      </div>
      <p class="popup-form__description">
        Нажимая кнопку “Отправить заявку”, вы даете согласие на обработку
        <a href="#">персональных данных</a>
      </p>
      <div class="popup-form__buttons">
        <button type="button" class="popup-form__btn popup-form__btn--cancel">
          Отмена
        </button>
        <button class="popup-form__btn popup-form__btn--request">
          Оставить заявку
        </button>
      </div>
    </form>
    <div class="popup-success">
      <p class="popup-success__title popup-form__title">Сообщение отправлено</p>
      <p class="popup-success__subtitle popup-form__subtitle">
        Ваше сообщение отправлено, скоро мы с вами свяжемся
      </p>
      <button class="popup-success__btn">Спасибо</button>
    </div>
  </div>
</div>
