<!-- <section id="reviews" class="reviews section">
  <div class="container">
    <div class="reviews__wrapper">
      <div class="reviews__header">
        <div class="reviews__header-text">
          <h2 class="reviews__title section-title">Что говорят наши клиенты</h2>
          <p class="reviews__subtitle">
            Компании доверяют нам обработку и сопровождение грузов — и
            рекомендуют «ДАР» своим партнёрам
          </p>
        </div>

        <div class="reviews-slider__navigation-btns">
          <div class="reviews-slider__button-prev">
            <svg
              width="8"
              height="12"
              viewBox="0 0 8 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.23054 1.69232L1.92285 6.00001L6.23054 10.3077"
                stroke="#28A745"
                stroke-width="2"
                stroke-linecap="round"
              />
            </svg>
          </div>
          <div class="reviews-slider__button-next">
            <svg
              width="8"
              height="12"
              viewBox="0 0 8 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.76946 1.69232L6.07715 6.00001L1.76946 10.3077"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="swiper reviews-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="reviews-slide">
              <div class="reviews-slide__header">
                <div class="reviews-slide__icon">
                  <img src="assets/images/icons/person-slider.svg" alt="icon" />
                </div>
                <p class="reviews-slide__title">
                  ООО «АгроТранс», Санкт-Петербург
                </p>
              </div>
              <p class="reviews-slide__text">
                «Работаем с ООО «ДАР» уже более 2 лет. Всегда чёткие сроки,
                грамотное оформление документов и ни одной задержки на таможне.
                Отличный партнёр!»
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews-slide">
              <div class="reviews-slide__header">
                <div class="reviews-slide__icon">
                  <img src="assets/images/icons/person-slider.svg" alt="icon" />
                </div>
                <p class="reviews-slide__title">
                  ООО «АгроТранс», Санкт-Петербург
                </p>
              </div>
              <p class="reviews-slide__text">
                «Работаем с ООО «ДАР» уже более 2 лет. Всегда чёткие сроки,
                грамотное оформление документов и ни одной задержки на таможне.
                Отличный партнёр!»
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews-slide">
              <div class="reviews-slide__header">
                <div class="reviews-slide__icon">
                  <img src="assets/images/icons/person-slider.svg" alt="icon" />
                </div>
                <p class="reviews-slide__title">
                  ООО «АгроТранс», Санкт-Петербург
                </p>
              </div>
              <p class="reviews-slide__text">
                «Работаем с ООО «ДАР» уже более 2 лет. Всегда чёткие сроки,
                грамотное оформление документов и ни одной задержки на таможне.
                Отличный партнёр!»
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews-slide">
              <div class="reviews-slide__header">
                <div class="reviews-slide__icon">
                  <img src="assets/images/icons/person-slider.svg" alt="icon" />
                </div>
                <p class="reviews-slide__title">
                  ООО «АгроТранс», Санкт-Петербург
                </p>
              </div>
              <p class="reviews-slide__text">
                «Работаем с ООО «ДАР» уже более 2 лет. Всегда чёткие сроки,
                грамотное оформление документов и ни одной задержки на таможне.
                Отличный партнёр!»
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews-slide">
              <div class="reviews-slide__header">
                <div class="reviews-slide__icon">
                  <img src="assets/images/icons/person-slider.svg" alt="icon" />
                </div>
                <p class="reviews-slide__title">
                  ООО «АгроТранс», Санкт-Петербург
                </p>
              </div>
              <p class="reviews-slide__text">
                «Работаем с ООО «ДАР» уже более 2 лет. Всегда чёткие сроки,
                грамотное оформление документов и ни одной задержки на таможне.
                Отличный партнёр!»
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews-slide">
              <div class="reviews-slide__header">
                <div class="reviews-slide__icon">
                  <img src="assets/images/icons/person-slider.svg" alt="icon" />
                </div>
                <p class="reviews-slide__title">
                  ООО «АгроТранс», Санкт-Петербург
                </p>
              </div>
              <p class="reviews-slide__text">
                «Работаем с ООО «ДАР» уже более 2 лет. Всегда чёткие сроки,
                грамотное оформление документов и ни одной задержки на таможне.
                Отличный партнёр!»
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
