<section id="why-us" class="why-us section">
  <div class="container">
    <div class="why-us__wrapper">
      <div class="why-us__header">
        <h2 class="why-us__title section-title">Почему выбирают нас</h2>
        <div class="why-us__arrows">
          <svg
            width="32"
            height="16"
            viewBox="0 0 32 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM31.7071 8.70711C32.0976 8.31658 32.0976 7.68342 31.7071 7.29289L25.3431 0.928932C24.9526 0.538408 24.3195 0.538408 23.9289 0.928932C23.5384 1.31946 23.5384 1.95262 23.9289 2.34315L29.5858 8L23.9289 13.6569C23.5384 14.0474 23.5384 14.6805 23.9289 15.0711C24.3195 15.4616 24.9526 15.4616 25.3431 15.0711L31.7071 8.70711ZM1 8L1 9L31 9L31 8L31 7L1 7L1 8Z"
              fill="white"
            />
          </svg>
        </div>
      </div>
      <div class="why-us__slider-wrapper">
        <div class="why-us__slider">
          <div class="why-us-slide">
            <h4 class="why-us-slide__title">Более 7 лет в отрасли</h4>
            <p class="why-us-slide__text">
              У нас работают эксперты с многолетним опытом в области фумигации,
              логистики и таможенного оформления
            </p>
          </div>
          <div class="why-us-slide">
            <h4 class="why-us-slide__title">Современные технологии</h4>
            <p class="why-us-slide__text">
              Мы используем только сертифицированные средства и оборудование
            </p>
          </div>
          <div class="why-us-slide">
            <h4 class="why-us-slide__title">Индивидуальный подход</h4>
            <p class="why-us-slide__text">
              Каждый клиент для нас — уникальный проект. Мы подбираем решения
              под ваши конкретные задачи
            </p>
          </div>
          <div class="why-us-slide">
            <h4 class="why-us-slide__title">Ответственность и надежность</h4>
            <p class="why-us-slide__text">
              строгое соблюдение сроков и конфиденциальности
            </p>
          </div>
          <div class="why-us-slide">
            <h4 class="why-us-slide__title">Комплексное обслуживание</h4>
            <p class="why-us-slide__text">
              От обеззараживания до логистики — все услуги под одним брендом для
              вашего удобства
            </p>
          </div>
          <div class="why-us-slide">
            <h4 class="why-us-slide__title">Гибкая ценовая политика</h4>
            <p class="why-us-slide__text">
              Предлагаем конкурентные цены и выгодные условия сотрудничества
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
