@use "../base/variables" as *;

// hero start --------------------------------------------------
.hero {
  margin-top: 50px;
  position: relative;
  &__spot {
    position: absolute;
    z-index: -1;
  }
  &__spot-top-right {
    top: -300px;
    right: -400px;
  }
  &__spot-bottom-left {
    bottom: -150px;
    left: -400px;
  }
  &__wrapper {
    display: flex;
    gap: 30px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 0 1138px;
    background-image: url("../assets/images/hero-bg.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__sidebar {
  }
  &__text-main {
    color: #036;
    max-width: 665px;
    margin-left: 44px;
    h1 {
      line-height: 130%;
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 34px;
    }
    p {
      line-height: 130%;
      font-size: 32px;
      max-width: 552px;
    }
    span {
      font-weight: 600;
    }
  }
  &__text-main-mobil {
    display: none;
  }

  &__text-bottom {
    font-size: 18px;
    max-width: 556px;
    margin-top: auto;
    margin-bottom: 10px;
    line-height: 130%;
    h2 {
      color: $grin-text;
      margin-bottom: 16px;
      line-height: 130%;
    }
    p {
      color: #fff;
      line-height: 130%;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 105px;

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 40px;
    margin-right: 14px;
  }

  &__logo {
    margin: 5px 14px;
  }
  &__list {
    border-radius: 60px;
    padding: 18px 61px;
    background-color: #fff;
    font-size: 16px;
    line-height: 130%;
    color: #000;
    display: flex;
    gap: 40px;
    margin-bottom: 10px;
  }

  &__bottom {
    border-radius: 60px;
    background-color: $green;
    display: flex;
    gap: 38px;
    padding: 7px 13px 8px 21px;
  }
}

.hero-sidebar {
  max-width: 554px;
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__top-item {
    border-radius: 14px;
    background: #1d2539;
    padding: 24px 35px 40px 35px;
    h4 {
      font-weight: 700;
      font-size: 48px;
      line-height: 130%;
      color: $grin-text;
      margin-bottom: 12px;
    }
    p {
      font-size: 24px;
      line-height: 130%;
    }
  }
  &__btn {
  }

  &__bottom-item {
  }
  &__grid-item-1 {
  }

  &__grid-item-2 {
  }
  &__grid-item-3 {
    grid-column: 1 / 3;
  }

  &__grid-item-4 {
    grid-column: 1 / 3;
  }
  &__grid-item-5 {
    grid-column: 1 / 3;
  }

  &__grid-item-6 {
    grid-column: 1 / 3;
  }
}

.hero-sidebar-item {
  //   padding: 23px 14px 35px 23px;
  padding: 31px 14px 31px 24px;
  background: #1d2539;
  border-radius: 14px;
  &__header {
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: $grin-text;
    margin-bottom: 10px;
  }
  p {
    line-height: 130%;
  }
}
.hero__info .hero-sidebar {
  display: none;
}
.header-burger-menu {
  display: none;
  &__burger-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__menu {
  }
}
@media (max-width: 1750px) {
  .hero-sidebar {
    &__grid {
      gap: 15px;
    }

    &__top-item {
      padding: 15px 17px 15px 11px;
      h4 {
        font-size: 36px;
      }
      p {
        font-size: 21px;
      }
    }
    &__btn {
      border-radius: 14px 50px 50px 14px;
      font-size: 31px;
    }
  }
  .hero-sidebar-item {
    padding: 40px 20px;
  }
  .header {
    &__list {
      gap: 30px;
    }
  }
}
@media (max-width: 1670px) {
  .hero-sidebar-item {
    padding: 30px 20px;
  }
}
@media (max-width: 1600px) {
  .hero {
    &__body {
      flex: 1 0 1000px;
    }
    &__text-bottom {
      max-width: 496px;
      margin-top: 220px;
    }
  }
  .header {
    &__list {
      padding: 18px 20px;
      gap: 20px;
    }
  }
  .hero-sidebar {
    &__btn {
      padding: 10px 24px 10px 23px;
      font-size: 24px;
    }
  }
  .hero-sidebar-item {
    padding: 20px;
  }
}
@media (max-width: 1470px) {
  .hero {
    &__body {
      background-image: none;
      flex: 1 0 auto;
    }
    &__text-main {
      margin-bottom: 87px;
    }
    &__text-main-desc {
      display: none;
    }
    &__text-main-mobil {
      display: block;
    }
    &__text-bottom {
      display: none;
    }
    &__info {
      border-radius: 16px;
      overflow: hidden;
      padding: 22px 14px 14px 14px;
      background-image: url("../assets/images/hero-bg-full.png");
      background-position: top right;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .hero-sidebar {
    display: none;
    &__grid-item-3 {
      grid-column: 1 / 3;
    }

    &__grid-item-4 {
      display: none;
    }
    &__grid-item-5 {
      display: none;
    }

    &__grid-item-6 {
      display: none;
    }
  }
  .hero__info .hero-sidebar {
    display: flex;
  }
}
@media (max-width: $breakpoint-lg) {
  .hero {
    margin-top: 8px;
  }
  .header {
    align-items: center;
    &__logo {
      width: 53px;
      margin: 0;
    }
    &__list {
      display: none;
    }
    &__nav {
      margin-top: 0;
      margin-right: 0;
    }
  }
  .header-burger-menu {
    display: block;
    &__burger-btn {
      width: 40px;

      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
      }
    }
    &__menu {
    }
  }
}
@media (max-width: 800px) {
  .hero {
    &__text-main {
      max-width: 450px;
      h1 {
        font-size: 30px;
      }
      p {
        max-width: 382px;
        font-size: 24px;
      }
    }
  }
}
@media (max-width: 620px) {
  .hero-sidebar {
    &__top-item {
      &__btn {
        font-size: 18px;
      }
      h4 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: $breakpoint-sm) {
  .header {
    gap: 10px;
    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
      padding: 6px 24px;
      border-radius: 60px;
      //   align-self: center;
    }
  }
  .hero-sidebar {
    max-width: 290px;
    &__btn {
      p {
        font-size: 18px;
      }
    }
  }
  .hero {
    &__info {
      margin-left: -15px;
      margin-right: -15px;
    }
    &__text-main {
      max-width: 275px;
      margin-left: 0px;
      h1 {
        font-size: 22px;
      }
      p {
        max-width: 252px;
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 414px) {
  .header {
    &__bottom-mail {
      font-size: 12px;
    }
    &__bottom-tel {
      font-size: 14px;
    }
  }
  .header-burger-menu {
    &__burger-btn {
      width: 22px;
    }
    &__menu {
    }
  }
}
// hero end --------------------------------------------------

// services start ------------------------------------------------
.services {
  &__wrapper {
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__title {
  }
}

.services-slider {
  height: 602px;
  &__navigation-btns {
    display: flex;
    gap: 8px;
    align-self: center;
    display: none;
  }
  &__button-prev {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #28a745;
    border-radius: 100%;
    svg path {
      stroke: white;
    }
  }
  &__button-next {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #28a745;
    border-radius: 100%;
    svg path {
      stroke: white;
    }
  }
}

.services-slider__button-next.swiper-button-disabled {
  background-color: #1d2539;
}
.services-slider__button-prev.swiper-button-disabled {
  background-color: #1d2539;
}
.services-slider__button-next.swiper-button-disabled svg path {
  stroke: #28a745;
}
.services-slider__button-prev.swiper-button-disabled svg path {
  stroke: #28a745;
}

.services-slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 18px;
  padding-bottom: 84px;
  line-height: 130%;
  border-radius: 14px;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__info {
    backdrop-filter: blur(4px);
    background: rgba(29, 37, 57, 0.81);
    border-radius: 10px;
    // padding: 35px 24px;
    // padding-bottom: 10px;
    // padding-right: 50px;
    padding: 35px 50px 10px 24px;
    flex: 1 1 auto;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
  }

  &__list {
    // max-width: 450px;
  }

  &__list-item {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list-iyem-title {
    font-weight: 500;
    font-size: 18px;
    position: relative;
    padding-left: 38px;
    span {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-2px);
    }
  }

  &__list-item-text {
    font-size: 16px;
    margin-top: 10px;
  }

  &__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: auto;
    margin-left: auto;
    max-width: 70%;
    padding: 8px 7px 8px 21px;
    font-size: 24px;
    border-radius: 14px 50px 50px 14px;
    span {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 1444px) {
  .services-slider__navigation-btns {
    display: flex;
  }
}

@media (max-width: $breakpoint-sm) {
  .services-slider {
    // height: 480px;
    &__navigation-btns {
    }

    &__button-prev {
    }

    &__button-next {
    }
  }
  .services-slide {
    // position: relative;
    // width: 100%;
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    // padding: 18px;
    // padding-bottom: 84px;
    // line-height: 130%;
    padding: 5px;
    // padding-bottom: 47px;
    padding-bottom: 77px;
    &__bg {
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      // height: 100%;
      // z-index: -1;
    }
    &__info {
      // backdrop-filter: blur(4px);
      // background: rgba(29, 37, 57, 0.81);
      // border-radius: 10px;

      padding: 24px 12px;
      padding-right: 20px;
      // flex: 1 1 auto;
    }

    &__title {
      font-size: 18px;
      // font-weight: 700;
      margin-bottom: 12px;
    }

    &__list {
    }

    &__list-item {
      margin-bottom: 12px;
    }

    &__list-iyem-title {
      // font-weight: 500;
      font-size: 14px;
      // position: relative;
      // padding-left: 38px;
      // span {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   transform: translateY(-2px);
      // }
    }

    &__list-item-text {
      font-size: 12px;
      margin-top: 6px;
    }

    &__btn {
      // position: absolute;
      // bottom: 0;
      // right: 0;
      // margin-top: auto;
      // margin-left: auto;
      // max-width: 70%;
      // padding: 8px 7px 8px 21px;
      font-size: 16px;
      padding: 7px;
      padding-left: 20px;
      // border-radius: 14px 50px 50px 14px;
      // span {
      //   width: 40px;
      //   height: 40px;
      // }
    }
  }
}
// services end ------------------------------------------------

// about start ------------------------------------------------
.about {
  &__wrapper {
  }

  &__title {
    margin-bottom: 40px;
  }

  &__body {
    position: relative;
    font-size: 18px;
    line-height: 120%;
  }

  &__img {
    width: 100%;
    height: auto;
  }
  &__img--mobil {
    display: none;
  }
  &__text {
    position: absolute;
    p {
      margin-bottom: 16px;
    }
    p:last-child {
      margin-bottom: 0px;
    }
  }
  &__text--top-left {
    top: 0;
    left: 0;
    width: 40%;
  }

  &__text--bottom-right {
    bottom: 0;
    right: 0;
    width: 41%;
  }
  &__text--green {
    font-weight: 700;
    font-size: 32px;
    color: #2ecc71;
    margin-bottom: 0px;
    margin-top: -3px;
    line-height: 130%;
  }
}

@media (max-width: 1750px) {
  .about {
    &__body {
      font-size: 16px;
    }
    &__text {
      p {
        margin-bottom: 14px;
      }
    }
    &__text--green {
      font-size: 24px;
    }
  }
}
@media (max-width: 1450px) {
  .about {
    &__body {
      font-size: 15px;
    }
    &__text {
    }
    &__text--green {
      font-size: 21px;
    }
  }
}
@media (max-width: 1300px) {
  .about {
    &__body {
      font-size: 14px;
    }
    &__text {
    }
    &__text--green {
      font-size: 18px;
    }
  }
}
@media (max-width: 1200px) {
  .about {
    // &__wrapper {
    // }

    &__title {
      margin-bottom: 20px;
    }

    &__body {
      font-size: 18px;
    }

    &__img {
      display: none;
    }
    &__img--mobil {
      display: block;
      width: 100%;
      margin-top: 12px;
      margin-bottom: 12px;
    }
    &__text {
      position: static;
      p {
        margin-bottom: 16px;
      }
      p:last-child {
        margin-bottom: 0px;
      }
    }
    &__text--top-left {
      width: 100%;
    }

    &__text--bottom-right {
      width: 100%;
    }
    &__text--green {
      // font-weight: 700;
      // font-size: 32px;
      // color: #2ecc71;
      // margin-bottom: 0px;
      // margin-top: -3px;
      // line-height: 130%;
    }
  }
}
@media (max-width: $breakpoint-sm) {
  .about {
    // &__wrapper {
    // }

    &__title {
      margin-bottom: 16px;
    }

    &__body {
      font-size: 12px;
    }
    &__text {
      p {
        margin-bottom: 14px;
      }
    }

    &__text--green {
      font-size: 12px;
    }
  }
}
// about end ------------------------------------------------

// cta end ------------------------------------------------
.cta {
  &__wrapper {
    background: #1d2539;
    border-radius: 14px;
    padding: 55px 100px 79px 100px;
    position: relative;
  }

  &__text-box {
    max-width: 687px;
    position: relative;
  }

  &__title {
    margin-bottom: 47px;
    line-height: 125%;
  }

  &__text {
    margin-bottom: 40px;
    max-width: 655px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 120%;
  }

  &__btn {
    padding: 5px 10px;
    max-width: 327px;
    font-size: 24px;
    span {
      width: 40px;
      height: 40px;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-73px, -53%);
    z-index: 0;
  }
}
@media (max-width: 1600px) {
  .cta {
    &__img {
      transform: translate(0, -53%);
    }
  }
}
@media (max-width: 1550px) {
  .cta {
    &__img {
      transform: translate(0, -48%);
      width: 900px;
    }
  }
}
@media (max-width: 1400px) {
  .cta {
    &__img {
      transform: translate(0, -37%);
      width: 700px;
    }
  }
}
@media (max-width: 1300px) {
  .cta {
    &__wrapper {
      padding: 55px 100px 0px 100px;

      text-align: center;
    }

    &__text-box {
      max-width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__text {
      max-width: 100%;
    }

    &__btn {
      margin-bottom: 16px;

      p {
        margin-left: 30px;
      }
    }

    &__img {
      position: static;

      transform: translate(-28px, 0) scale(1.3);
    }
  }
}
@media (max-width: $breakpoint-md) {
  .cta {
    &__wrapper {
      padding: 32px 19px 0px 19px;

      text-align: center;
    }

    &__text-box {
      max-width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__text {
      max-width: 100%;
    }

    &__btn {
      margin-bottom: 16px;
    }

    &__img {
      position: static;
    }
  }
}
@media (max-width: $breakpoint-sm) {
  .cta {
    &__title {
      margin-bottom: 16px;
      font-size: 18px;
    }

    &__text {
      margin-bottom: 20px;
      font-size: 14px;
    }

    &__btn {
      max-width: 100%;
      font-size: 16px;
    }
  }
}
// cta end ------------------------------------------------

// why-us start --------------------------------------------------
.why-us {
  &__wrapper {
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__title {
  }

  &__arrows {
    display: none;
  }

  &__slider {
    background: #28a745;
    display: flex;
    border-radius: 14px;
  }
}

.why-us-slide {
  padding: 32px 32px 32px 15px;
  border-radius: 14px;
  width: calc(100% / 6);

  &__title {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    display: block;
    min-height: 95px;
    line-height: 120%;
  }

  &__text {
    font-size: 16px;
    line-height: 130%;
  }
}
.why-us-slide:first-child .why-us-slide__title {
  font-size: 30px;
}
.why-us-slide:nth-child(odd) {
  background-color: #fff;
  color: #28a745;
}

@media (max-width: 1550px) {
  .why-us {
    &__wrapper {
    }

    &__header {
      margin-bottom: 14px;
    }

    &__title {
    }

    &__arrows {
      display: block;
    }
    &__slider-wrapper {
      width: 100vw;
      overflow: auto;
      margin-right: -20px;
      &::-webkit-scrollbar {
        display: none;
      }
      cursor: grab;
      user-select: none;
      &.dragging {
        cursor: grabbing;
      }
    }
    &__slider {
      width: min-content;
    }
  }
  .why-us-slide {
    min-width: 265px;
    padding: 22px 15px;

    &__title {
      font-size: 20px;

      min-height: auto;
      margin-bottom: 14px;
    }

    &__text {
      line-height: 110%;
    }
  }
  .why-us-slide:first-child .why-us-slide__title {
    font-size: 20px;
  }
}
// why-us end ---------------------------------------------------

// steps start ----------------------------------------------------
.steps {
  &__wrapper {
  }

  &__title {
    margin-bottom: 16px;
  }

  &__subtitle {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__body {
    display: flex;
    gap: 30px;
  }
}

.step {
  border: 1px solid #28a745;
  border-radius: 10px;
  display: flex;
  padding: 18px 24px;
  gap: 24px;
  position: relative;
  &__num {
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    color: #28a745;
  }

  &__info {
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__text {
  }

  &__arrow {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translate(0, -50%);
  }
}

// steps end -----------------------------------------

// our-result start --------------------------------------------------
.our-results {
  &__wrapper {
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  &__header-text {
  }
  &__title {
    margin-bottom: 14px;
  }

  &__subtitle {
  }
}

.our-results-slider {
  height: 418px;
  &__navigation-btns {
    display: flex;
    gap: 8px;
    align-self: center;
  }
  &__button-prev {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #28a745;
    border-radius: 100%;
    svg path {
      stroke: white;
    }
  }
  &__button-next {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #28a745;
    border-radius: 100%;
    svg path {
      stroke: white;
    }
  }
}

.our-results-slider__button-next.swiper-button-disabled {
  background-color: #1d2539;
}
.our-results-slider__button-prev.swiper-button-disabled {
  background-color: #1d2539;
}
.our-results-slider__button-next.swiper-button-disabled svg path {
  stroke: #28a745;
}
.our-results-slider__button-prev.swiper-button-disabled svg path {
  stroke: #28a745;
}

.our-results-slide {
  padding: 10px 17px;
  position: relative;
  width: 100%;
  height: 100%;
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__body {
    backdrop-filter: blur(4px);
    background: rgba(29, 37, 57, 0.86);
    border-radius: 10px;
    padding: 25px 30px;
    max-width: 421px;
    height: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 14px;
  }

  &__text--green {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #2ecc71;
    margin-bottom: 8px;
  }

  &__text {
  }
}

// our-result end --------------------------------------------------

// review start ------------------------------------------------------
.reviews {
  &__wrapper {
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__header-text {
  }

  &__title {
  }

  &__subtitle {
    margin-bottom: 30px;
  }
}

.reviews-slider {
  &__navigation-btns {
    display: flex;
    gap: 8px;
    align-self: center;
  }
  &__button-prev {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #28a745;
    border-radius: 100%;
    svg path {
      stroke: white;
    }
  }
  &__button-next {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #28a745;
    border-radius: 100%;
    svg path {
      stroke: white;
    }
  }
}
.reviews-slider__button-next.swiper-button-disabled {
  background-color: #1d2539;
}
.reviews-slider__button-prev.swiper-button-disabled {
  background-color: #1d2539;
}
.reviews-slider__button-next.swiper-button-disabled svg path {
  stroke: #28a745;
}
.reviews-slider__button-prev.swiper-button-disabled svg path {
  stroke: #28a745;
}

.reviews-slide {
  background: #1d2539;
  border-radius: 10px;
  padding: 24px 20px;
  &__header {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 20px;
  }

  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #78b94629;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-weight: 500;
  }

  &__text {
  }
}

// review end ------------------------------------------------------
