// colors
$green: #28a745;
$grin-text: #2ecc71;
//fonts
$font-family: "Montserrat", sans-serif;
// ==============================================
// Breakpoints
// ==============================================

$breakpoint-xs: 414px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;
